body{
    margin: 0 7%;
}
.a{
    background-color: aqua;
    /*border-style: solid;
    border-width: 1px;*/
    height: 720px;
}
.boton1{
    background-color: #fca800;
    color: white;
    border-radius: 25px;
    width: 180px;
}
.fondo1{
    height: calc(720px - 446px);
}
.b{
    height: 50%;
}
.b img{
    width: 100%;/*usar clac para ajustar la altura total*/
    height: 100%;
    object-fit: cover;
}
.c{
    position: absolute;
    height: 50%;
    width: 50%;
    background-color: aqua;
}
.d{
    height: 50%;
}
.e{
    /*border-style: solid;
    border-width: 1px;*/
    padding: 0;
}
.f{
    background-color: gainsboro;
    margin: 5px;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
}